:root {
  --size0: 0px;
  --sizemini: 1px;
  --sizemini2: 3px;
  --sizetiny: 10px;
  --sizestd: 12px;
  --sizevast: 15px;
  --sizebig1: 18px;
  --sizebig2: 20px;
  --sizehuge1: 24px;
  --sizehuge2: 36px;
}

* {
  font-family: 'Open Sans';
  background-color: white;
  color: #111;
}

.greyed {
 -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mybutton {
  background-color: #eee;
  padding: var(--sizetiny);
  padding-left: var(--sizehuge1);
  padding-right: var(--sizehuge1);
  display: inline-block;
  font-size: var(--sizebig2);
  font-weight: bolder;
  border-radius: var(--sizevast);
}

.mybutton:hover {
  background-color: black;
  font-weight: 900;
  color: #eee;
}

.d-flex {
  display: flex;
}

.align-i {
  align-items: center;
}

.justif-i {
  justify-items: center;
}

.justif-c {
  justify-content: center;
}

.justif-l {
  justify-self: start;
}

.justif-s {
  flex-direction: column;
  justify-content: space-between;
}

.mt-tiny {
  margin-top: var(--sizetiny);
}

.mt-big {
  margin-top: var(--sizebig2);
}

.mb-tiny {
  margin-bottom: var(--sizetiny);
}

.mb-big {
  margin-bottom: var(--sizebig2);
}

.ml-tiny {
  margin-left: var(--sizetiny);
}

.ml-big {
  margin-left: var(--sizebig2);
}

.mr-tiny {
  margin-right: var(--sizetiny);
}

.mr-big {
  margin-right: var(--sizebig2);
}

.text-sub {
  font-size:var(--sizebig1);
  vertical-align: sub;
}

.text-base {
  font-size:var(--sizebig1);
  vertical-align: baseline;
}

.text-sup {
  font-size:var(--sizebig1);
  vertical-align: super;
}

.letter-mini {
  letter-spacing: var(--sizemini);
}

.letter-maxi {
  letter-spacing: var(--sizemini2);
}

.backcol-white {
  background-color: #fff;
  border: -1px solid gray;
}

.backcol-grey {
  background-color: #eee;
  border: -1px solid gray;
}

.box {
  margin: var(--sizetiny);
  padding: var(--sizetiny);
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0;
}

/* game */

.tile {
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.imgstone {
  background-image: url("../img/1stone.png");
  background-position: 50% 50%;
  background-size: 80%;
}

.imgpaper {
  background-image: url("../img/2paper.png");
  background-position: 50% 50%;
  background-size: 80%;
}

.imgscissors {
  background-image: url("../img/3scissors.png");
  background-position: 50% 50%;
  background-size: 80%;
}

#gamename h1 {
  font-size: var(--sizehuge2);
  margin: var(--size0);
}

#gameplay h1 {
  font-size: var(--sizehuge2);
  margin: var(--size0);
  margin-bottom: var(--sizetiny);
}

#gameplay h2 {
  font-size: var(--sizehuge2);
  margin: var(--size0);
}